@using Journal.WebApplication.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "Журнал учёта рабочего времени";
}

@section scripts
{
    @Scripts.Render("~/bundles/burndown")
    @Scripts.Render("~/bundles/inputmask")
    
    <script>
        $(document).ready(function() {
            $(".time-editor").inputmask("hh:mm", { "placeholder": "_" });
        });
    </script>
}

<div class="user-line">Добрый день, @Model.UserName</div>
<div class="main-line">
    <div class="form-group">
        <input type="text" class="time-editor" value="8:24">
        <a class="btn btn-checkin btn-lg centred">Привет</a>
    </div>
</div>

<div class="details-line">
    <canvas class="burndown-diagram" id='myCanvas' height="100" width="600">Обновите браузер</canvas>
    <p>Ваши последние сессии:</p>
    @*@Html.ActionLink("Открыть сессию", "OpenSession", new { StartTime = DateTime.Now, UserId = Model.UserId })
    @Html.ActionLink("Закрыть сессию", "CloseSession", new { EndTime = DateTime.Now, UserId = Model.UserId })*@
    <table class="table table-striped table-hover table-condensed">
        <tr class="">
            <th>Начало</th>
            <th>Конец</th>
            <th>Длительность</th>
        </tr>
        @foreach (SessionViewModel session in Model.Sessions)
        {
            <tr class="@(session.IsActive ? "active" : "")">
                <td>@session.StartTime</td>
                <td>@session.EndTime</td>
                <td>@session.Duration.TotalHours.ToString("F1") ч.</td>
            </tr>
        }
    </table>
</div>