@model Journal.WebApplication.ViewModels.HomeViewModel

@{
    ViewBag.Title = "title";
}

@*@section scripts
{
    @Scripts.Render("~/bundles/burndown")
}*@

<div class="main-line">
    <div class="form-group">
        <div class="time-editor btn-group">
            <div class="btn-group">
                <button type="button" class="btn time-element dropdown-toggle" data-toggle="dropdown">
                    8
                </button>
                <ul class="dropdown-menu">
                    @for (int i = 7; i <= 10; i ++)
                    {
                        <li><a href="#">@i</a></li>
                    }
                </ul>
            </div>
            <div class="time-element">
                :
            </div>
            <div class="btn-group">
                <button type="button" class="btn time-element dropdown-toggle" data-toggle="dropdown">
                    24
                </button>
                <ul class="dropdown-menu">
                    @for (int i = 0; i < 60; i+=10)
                    {
                        <li><a href="#">@i</a></li>
                    }
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-checkin btn-lg centred">Привет</button>
    </div>
</div>



@*
<h2>Добрый день, mr. @Model.UserName</h2>
<p>Ваши последние сессии:</p>
@Html.ActionLink("Открыть сессию", "OpenSession", new { StartTime = DateTime.Now, UserId = Model.UserId })
@Html.ActionLink("Закрыть сессию", "CloseSession", new { EndTime = DateTime.Now, UserId = Model.UserId })
<table>
    @foreach (SessionViewModel session in Model.Sessions)
    {
        <tr>
            <td>@session.StartTime</td>
            <td>@session.EndTime</td>
            <td>@session.Duration</td>
        </tr> 
    }
    <tr>
        <td colspan="3">
            <canvas id='myCanvas' height="150">Обновите браузер</canvas>
        </td>
    </tr>
</table>*@