@using JournalApplication.ViewModels
@model HomeViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добрый день, mr. @Model.UserName</h2>
<p>Ваши последние сессии:</p>
@Html.ActionLink("Открыть сессию", "OpenSession", new { StartTime = DateTime.Now, UserId = Model.UserId })
@Html.ActionLink("Закрыть сессию", "CloseSession", new { EndTime = DateTime.Now, UserId = Model.UserId })
<table>
    @foreach (SessionViewModel session in Model.Sessions)
    {
        <tr>
            <td>@session.StartTime</td>
            <td>@session.EndTime</td>
            <td>@session.Duration</td>
        </tr> 
    }
</table>